<p style="color: green"><%= notice %></p>

<div class="list-group" id="lists">
  <% @lists.each do |list| %>
    <p>
      <%= link_to "#{list.name}", list, class: "list-group-item list-group-item-action" %>
    </p>
  <% end %>
</div>

<%= link_to new_list_path do%>
<button  type="button" class="btn btn-primary">
  New List <i class="fa-solid fa-plus"></i>
</button>
<%end%>
